<table role="table">
	<thead role="rowgroup">
	  <tr role="row">
		<th role="columnheader">Id</th>
		<th role="columnheader">First name</th>
		<th role="columnheader">Surname</th>
		<th role="columnheader">Last name</th>
		<th role="columnheader">Gender</th>
		<th role="columnheader">Age</th>
		<th role="columnheader">Position</th>
		<th role="columnheader">Salary</th>
		<th role="columnheader">Year of appointment</th>
		<th role="columnheader">Total holidays</th>
		<th role="columnheader">Remaining holidays</th>
	  </tr>
	</thead>
	<tbody role="rowgroup">
	  <tr *ngFor="let item of employees" role="row" class = "colorTable">
		<td role="cell">{{item.id}}</td>
		<td role="cell">{{item.firstName}}</td>
		<td role="cell">{{item.surname}}</td>
		<td role="cell">{{item.lastName}}</td>
		<td role="cell">{{item.gender}}</td>
		<td role="cell">{{item.age}}</td>
		<td role="cell">{{item.position}}</td>
		<td role="cell">{{item.salary}}</td>
		<td role="cell">{{item.yearOfAppointment}}</td>
		<td role="cell">{{item.totalHolidays}}</td>
		<td role="cell">{{item.usedHolidays}}</td>
        <td role="cell"> <button class = "deletebtn">delete</button></td>
	  </tr>
	</tbody>
  </table>
