<table>
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First name</th>
            <th scope="col">Surname</th>
            <th scope="col">Last name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Position</th>
            <th scope="col">Salary</th>
            <th scope="col">Year of appointment</th>
            <th scope="col">Total holidays</th>
            <th scope="col">Remaining holidays</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of employees">
            <td data-label="Id">{{ item.id }}</td>
            <td data-label="First name">{{ item.firstName }}</td>
            <td data-label="Surname">{{ item.surname }}</td>
            <td data-label="Last name">{{ item.lastName }}</td>
            <td data-label="Gender">{{ item.gender }}</td>
            <td data-label="Age">{{ item.age }}</td>
            <td data-label="Salary">{{ item.position }}</td>
            <td data-label="Position">{{ item.salary }}</td>
            <td data-label="Year of appointment">{{ item.yearOfAppointment }}
            </td>
            <td data-label="Total holidays">{{ item.totalHolidays }}</td>
            <td data-label="Remaining holidays">{{ item.usedHolidays }}</td>
            <td role="cell"><button class="deletebtn" (click) = "deleteEmployee(item.id)">delete</button></td>
        </tr>
    </tbody>
</table>
