<header class="header">

    <div class="text-box">
        <h1 class="heading-primary">
            <span class="heading-primary-main"
                >Visualized data for your employees</span
            >
            <span class="heading-primary-sub"
                >Beautiful design, responsive for mobile, functional
            </span>
        </h1>
        <a
            href="https://github.com/idiliev18/Technologica-internship"
            target="BLANK"
            class="btn btn-white btn-animated"
            >Github</a
        >
    </div>
</header>
