footer {
    text-align: center;
    background: #444;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 20px;

    }

    .footer{
      padding-top: 300px;
      height: 50vh;
      color: #666;
      position: relative;

      clip-path: polygon(0 80%, 100% 24%, 100% 75vh, 0% 100%);

    }

    .pcolor{
      color:rgba(6, 148, 60, 0.8);
    }




